<h1><%= @player_1 %> vs  <%= @player_2 %></h1>

<h2><%= @player_1 %>'s hit points : 100HP</h2>

<form action='/play' method="post" >
   <input type='submit' value='Attack Player!' name='player_1_attack'>
 </form>
 <%if @player_1_attack %>
 <h2>You have hit <%= @player_2 %></h2>
 <% end %>
 <h2><%= @player_2 %>'s hit points : 100HP</h2>
 <form action='/play' method="post" >
   <input type='submit' value='Attack Player!' name='player_2_attack'>
 </form>
 <%if @player_2_attack %>
 <h2>You have hit <%= @player_2 %></h2>
 <% end %>





